
body{
    background-color: black;
}
.first{
    color: white;
    font-size: 40px;
    font-family: fantasy;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}